<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    <script src="https://kit.fontawesome.com/9052c1ac51.js" crossorigin="anonymous"></script>
</head>
<body>
{% include 'basecamp/navbar.html' %}
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8" id="main-div">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" id="side-div">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control"  onkeyup="enterkey();" id="search-input" placeholder="Search for...">
                        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" onclick="search_post();">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4" id="category-card">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">

                    <ul class="list-unstyled mb-0">

                        {% for category in category_list %}
                        <li>
                            <a href="{{category.get_absolute_url}}">{{ category.name }} ({{category.post_set.count}})</a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="/blog/category/_none/">미분류 ({{posts_without_category}})</a>
                        </li>

                    </ul>

                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>


<script>
    function search_post(){
        var search_value = document.getElementById('search-input').value;
        location.href="/blog/search/" + search_value + "/";
    }

    function enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }
</script>

<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>
</body>
</html>