{% extends './new_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-3">About me</h1>
            <h3 class="my-3">안녕하세요. 백경원입니다.</h3>
            <h5 class="my-3">새로운 일을 기다리고 있습니다.</h5>
            <p> 프로그래밍을 시작한지 얼마 되지 않았으나
                원하는 서비스를  직접 개발 및 배포, 사용해보는 과정을 통해<br>
                개발에 큰 매력을 느끼게 되었습니다.
                python과 django등 다양한 분야에서 재미있는 일을 찾고 있습니다.</p>
            <h6 style="color:maroon"><strong>*Skill Set ( level : 1- 5 )</strong></h6>
            <p style="color:maroon">language : Python (2)</br>
            </p>

        </div>
        <div class="col-md-4 my-3">
            <img width="150px" src="{% static 'basecamp/images/me.png' %}">
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h3 class="my-3">Contact me</h3>
            <h5>Email: <small>forte111@naver.com</small></h5>
             <h5>Phone: <small>010-4507-8742</small></h5>
        </div>
    </div>
</div>
{% endblock %}